<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		
	</head>
	<body ng-controller="myCtrl">
		<!--{{5+5+5}}
		{{"hello world"}}
		{{NaN==NaN}}
		{{4==4}}
        {{1+4+true}}-->
        <!--{{username}}-->
      <!--   {{user.name+user.age+user.height+user.weight}}-->
  <!--{{arr[0]}}-->
     <!-- {{users[0].name+users[0].age}}-->
     <!--<img ng-src="{{src}}"/>-->
    <!-- <select name="" ng-model="car">
     	<option>奔驰</option>
     	<option>宝马</option>
     	<option>奥迪</option>
     </select>
     {{car}}-->
     <input type="text" ng-model="car" />
     {{car}}
	</body>
	<script type="text/javascript" src="js/angular.js" ></script>
	
	<script>
       /* var app=angular.module("myApp",[]);
        app.controller("myCtrl",function($scope){
        	$scope.username="wangzhongyuan";
        })*/
      
       /*var app=angular.module("myApp",[]);
       app.controller("myCtrl",function($scope){
       	    $scope.user={
       	    	"name":"wang",
       	    	"age":20,
       	    	"height":"190cm",
       	    	"wieght":"70kg"
       	    }
       })*/
       /*var app=angular.module("myApp",[]);
       app.controller("myCtrl",function($scope){
       	   $scope.arr=["wxx","djs","woo","zii","huo"]
       })*/
      /* var app=angular.module("myApp",[]);
       app.controller("myCtrl",function($scope){
           $scope.users = [
				{
					"name":"吴勋勋",
					"age":16,
					"height":185,
					"weight":"90kg",
					"wifeName":"穆瑾"
				},
				{
					"name":"常小伟",
					"age":18,
					"height":168,
					"weight":"60kg",
					"wifeName":"宝宝"
				},
				{
					"name":"小明",
					"age":15,
					"height":173,
					"weight":"60kg",
					"wifeName":"隔壁老王"
				}
			]
       })*/
          //var app=angular.module("myApp",[]);
        /*  var app=angular.module("myApp",[]);
          app.controller("myCtrl",function($scope){
          	  $scope.src="img/1.jpg";
          })*/
         
        /* var app=angular.module("myApp",[]);
         app.controller("myCtrl",function($scope){
         	  $scope.car="奔驰";
         })*/
        
	</script>
</html>
